<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trà Sữa</title>
    <link rel="shortcut icon" type="image/png" href="images/logo.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/rangeslider.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0 site-logo">
                            <!-- LOGO HERE BABEEE-->
                        </h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="active"><a href="index.html"><span>Home</span></a></li>
                                <li class="has-children">
                                    <a href="about.html"><span>Food</span></a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="#">Noodle</a></li>
                                        <li><a href="#">Burger</a></li>
                                        <li><a href="#">Tempura</a></li>
                                        <li class="has-children">
                                            <a href="#">Drink</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Tea</a></li>
                                                <li><a href="#">Milk</a></li>
                                                <li><a href="#">Coffee</a></li>
                                                <li><a href="#">Trà sữa :))</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="listings.html"><span>Order</span></a></li>
                                <li><a href="about.html"><span>Menu</span></a></li>
                                <li><a href="blog.html"><span>Apply</span></a></li>
                                <li><a href="contact.html"><span>About</span></a></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                </div>

            </div>
    </div>

    </header>



    <div class="site-blocks-cover overlay site_blocks_cover_single" style="background-image: url('images/bg_4.jpg');opacity:1;" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-10">

                    <!--
                    <div class="row justify-content-center mb-4">
                        <div class="col-md-10 text-center">
                            <h1 data-aos="fade-up">You want to <span class="typed-words"></span></h1>
                            <p data-aos="fade-up" class=" w-75 mx-auto">Here we have every thing that you want
                                <p>
                        </div>
                    </div>  
                  -->

                    <!--
                    Search Bả
                  <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
                      <form method="post">
                          <div class="row align-items-center">
                              <div class="col-lg-12 col-xl-4 no-sm-border border-right">
                                  <input type="text" class="form-control" placeholder="What are you looking for?">
                              </div>
                              <div class="col-lg-12 col-xl-3 no-sm-border border-right">
                                  <div class="wrap-icon">
                                      <span class="icon icon-room"></span>
                                      <input type="text" class="form-control" placeholder="Location">
                                  </div>

                              </div>
                              <div class="col-lg-12 col-xl-3">
                                  <div class="select-wrap">
                                      <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                      <select class="form-control" name="" id="">
                      <option value="">All Categories</option>
                      <option value="">Hotels</option>
                      <option value="">Restaurant</option>
                      <option value="">Eat &amp; Drink</option>
                      <option value="">Events</option>
                      <option value="">Fitness</option>
                      <option value="">Others</option>
                    </select>
                                  </div>
                              </div>
                              <div class="col-lg-12 col-xl-2 ml-auto text-right">
                                  <input type="submit" class="btn text-white btn-primary" value="Search">
                              </div>

                          </div>
                      </form>
                  </div>
                  -->


                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-8 ">
                    <div class="row item_contain">
                        <img th:src="${product.getLinkIMG()}" alt="Image" class="img-fluid rounded single_item mb-4 col-md-6 col-12">
                        <div style="border-left: 1px solid hsl(0, 0%, 70%);" class="col-md-6 col-12">
                            <table style="width:100%;" class="order_table">
                                <tr>
                                    <th colspan="2"> Tên Sản Phẩm:<span th:text="${product.getTenSanPham()}"></span></th>
                                </tr>
                                <tr>
                                    <td>Giá: <span th:text="${product.getGia()}"></span> đ</td>
                                    <td style="text-decoration:line-through"></td>
                                </tr>
                                <!--
                                <tr>
                                    <td>
                                        <div class="dropdown show">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Nguyên vật liệu:
                                        </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Trà </a>
                                                <a class="dropdown-item" href="#">Đào</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                -->
                                <tr>
                                    <td>
                                        Mã sản phẩm: <span th:text="${product.getID()}"></span>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="btn_num">-</div>
                                        <div class="ip_num_contain"><input type="number" placeholder="1" class="input_num"></div>
                                        <div class="btn_num"> + </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <label>Voucher:</label>
                                        <div class="voucher_tag">
                                            <div> 30%</div>
                                            <div> 40%</div>
                                            <div> 50%</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="btn_tgvh">
                                        Tiến hành đặt hàng
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <p><b>Description about the item:</b>
                        <span th:text="${product.getMota()}"></span>
                    </p>
                    <!--
        <h3>Even the all-powerful</h3>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>

                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and
                        made herself on the way.</p>

                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question
                        ran over her cheek, then she continued her way.</p>

                    -->

                    <div class="pt-5">
                        <p>Categories: <a href="#">Tea</a>, <a href="#">Peach</a> Tags: <a href="#">#Phuc Long</a>, <a href="#">#Viet Nam</a></p>
                    </div>


                    <div class="pt-5">
                        <h3 class="mb-5">6 Comments</h3>
                        <ul class="comment-list">
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="images/comment_vcard.jpg" alt="Image">
                                </div>
                                <div class="comment-body">
                                    <h3>Jean Doe</h3>
                                    <div class="meta">January 9, 2018 at 2:21pm</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                        nihil?
                                    </p>
                                    <p><a href="#" class="reply">Reply</a></p>
                                </div>
                            </li>

                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="images/comment_vcard.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>Jean Doe</h3>
                                    <div class="meta">January 9, 2018 at 2:21pm</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                        nihil?
                                    </p>
                                    <p><a href="#" class="reply">Reply</a></p>
                                </div>

                                <ul class="children">
                                    <li class="comment">
                                        <div class="vcard bio">
                                            <img src="images/comment_vcard.jpg" alt="Image placeholder">
                                        </div>
                                        <div class="comment-body">
                                            <h3>Jean Doe</h3>
                                            <div class="meta">January 9, 2018 at 2:21pm</div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                                nihil?
                                            </p>
                                            <p><a href="#" class="reply">Reply</a></p>
                                        </div>

                                        <ul class="children">
                                            <li class="comment">
                                                <div class="vcard bio">
                                                    <img src="images/comment_vcard.jpg" alt="Image placeholder">
                                                </div>
                                                <div class="comment-body">
                                                    <h3>Jean Doe</h3>
                                                    <div class="meta">January 9, 2018 at 2:21pm</div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit
                                                        necessitatibus, nihil?</p>
                                                    <p><a href="#" class="reply">Reply</a></p>
                                                </div>

                                                <ul class="children">
                                                    <li class="comment">
                                                        <div class="vcard bio">
                                                            <img src="images/comment_vcard.jpg" alt="Image placeholder">
                                                        </div>
                                                        <div class="comment-body">
                                                            <h3>Jean Doe</h3>
                                                            <div class="meta">January 9, 2018 at 2:21pm</div>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
                                                                impedit necessitatibus, nihil?</p>
                                                            <p><a href="#" class="reply">Reply</a></p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="images/comment_vcard.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>Jean Doe</h3>
                                    <div class="meta">January 9, 2018 at 2:21pm</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                        nihil?
                                    </p>
                                    <p><a href="#" class="reply">Reply</a></p>
                                </div>
                            </li>
                        </ul>
                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form action="#" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-primary text-white btn-md">
                                </div>

                            </form>
                        </div>
                    </div>


                </div>

                <div class="col-md-3 ml-auto">
                    <div class="mb-5">
                        <h3 class="h5 text-black mb-3">Search</h3>
                        <form action="#" method="post">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                            </div>
                        </form>
                    </div>

                    <div class="mb-5">
                        <h3 class="h5 text-black mb-3">Các món liên quan</h3>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#">Món 1</a></li>
                            <li class="mb-2"><a href="#">Món 2</a></li>
                            <li class="mb-2"><a href="#">Món 3</a></li>
                            <li class="mb-2"><a href="#">Món 4</a></li>
                        </ul>
                    </div>

                    <div class="mb-5">
                        <h3 class="h5 text-black mb-3">Top reviewer:</h3>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#">Person 1: bla bla bla</a></li>
                            <li class="mb-2"><a href="#">Person 2: bla bla bla bla</a></li>
                            <li class="mb-2"><a href="#">Person 3: bla bla bla bla bla</a></li>
                            <li class="mb-2"><a href="#">Person 4: bla bla bla bla bla bla</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="py-5 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
                    <h2 class="mb-3 mt-0 text-white">Let's get started. Create your account</h2>
                    <p class="mb-0 text-white">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-lg-4">
                    <p class="mb-0"><a href="signup.html" class="btn btn-outline-white text-white btn-md px-5 font-weight-bold btn-md-block">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                            <h2 class="footer-heading mb-4">Products</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                            <h2 class="footer-heading mb-4">Features</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    </div>



</body>

</html>