<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Trà Sữa</title>
    <link rel="shortcut icon" type="image/png" href="images/logo.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/rangeslider.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo">
                        <!-- LOGO HERE BABEEE-->
                    </h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="/"><span>Trang chủ</span></a></li>
                            <li class="has-children active" sec:authorize="isAuthenticated() and hasAnyAuthority('ADMIN','MANAGER','NHANVIEN')">
                                <a href="/" ><span>Quản lý</span></a>
                                <ul class="dropdown arrow-top">
                                    <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/manage/accounts">Tài khoản</a></li>
                                    <li sec:authorize="hasAnyAuthority('ADMIN','NHANVIENBANHANG')"><a href="#">Đơn hàng</a></li>
                                    <li sec:authorize="hasAnyAuthority('ADMIN','THUKHO')"><a href="#">NVL</a></li>
                                    <li class="has-children" sec:authorize="hasAnyAuthority('ADMIN')">
                                        <a href="/admin/manage/product">Sản phẩm</a>
                                        <ul class="dropdown">
                                            <li><a href="/admin/add-entity/add-product">Thêm sản phẩm</a></li>
                                            <li><a href="/admin/manage/product">Chỉnh sửa sản phẩm</a></li>
                                            <li><a href="/admin/manage/product">Xóa sản phẩm</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="/Menu"><span>Menu</span></a></li>
                            <li><a href="/user"><span>Đặt đơn</span></a></li>
                            <li><a href="/"  sec:authorize="isAuthenticated()"><span>Đơn hàng của bạn</span></a></li>
                            <li><a href="/" sec:authorize="isAuthenticated()"><span>Tài khoản</span></a></li>
                            <li class="login_btn">
                                <a sec:authorize="isAnonymous()" href="/login">
                                    <span>Login</span>
                                </a>
                            </li>
                            <li class="login_btn">
                                <a href="#">
                                        <span  sec:authorize="isAuthenticated()">
                                            <div sec:authentication="name"></div>
                                        </span>
                                </a>
                            </li>
                            <li class="login_btn">
                                <a href="/logout">
                                        <span  sec:authorize="isAuthenticated()">
                                            Log out
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            </div>

        </div>

    </header>
</div>


    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo">
                        <!-- LOGO HERE BABEEE-->
                    </h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class=""><a href="/"><span>Trang chủ</span></a></li>
                            <li class="has-children" sec:authorize="isAuthenticated() and !hasAnyAuthority('USER')">
                                <a href="/" ><span>Quản lý</span></a>
                                <ul class="dropdown arrow-top">
                                    <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="#">Tài khoản</a></li>
                                    <li sec:authorize="hasAnyAuthority('ADMIN','NHANVIENBANHANG')"><a href="#">Đơn hàng</a></li>
                                    <li sec:authorize="hasAnyAuthority('ADMIN','THUKHO')"><a href="#">NVL</a></li>
                                    <li class="has-children" sec:authorize="hasAnyAuthority('ADMIN')">
                                        <a href="/admin/manage/product">Sản phẩm</a>
                                        <ul class="dropdown">
                                            <li><a href="/admin/add-entity/add-product">Thêm sản phẩm</a></li>
                                            <li><a href="/admin/manage/product">Chỉnh sửa sản phẩm</a></li>
                                            <li><a href="/admin/manage/product">Xóa sản phẩm</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="/Menu"><span>Menu</span></a></li>
                            <li><a href="/user"><span>Đặt đơn</span></a></li>
                            <li><a href="/"  sec:authorize="isAuthenticated()"><span>Đơn hàng của bạn</span></a></li>
                            <li><a href="/" sec:authorize="isAuthenticated()"><span>Tài khoản</span></a></li>
                            <li class="login_btn">
                                <a sec:authorize="isAnonymous()" href="/login">
                                    <span>Login</span>
                                </a>
                            </li>
                            <li class="login_btn">
                                <a href="#">
                                        <span  sec:authorize="isAuthenticated()">
                                            <div sec:authentication="name"></div>
                                        </span>
                                </a>
                            </li>
                            <li class="login_btn">
                                <a href="/logout">
                                        <span  sec:authorize="isAuthenticated()">
                                            Log out
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            </div>

        </div>

    </header>
</div>
<div class="site-blocks-cover overlay site_blocks_cover_single" style="background-image: url('images/bg_4.jpg');opacity:1;" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-10">

                <!--
                <div class="row justify-content-center mb-4">
                    <div class="col-md-10 text-center">
                        <h1 data-aos="fade-up">You want to <span class="typed-words"></span></h1>
                        <p data-aos="fade-up" class=" w-75 mx-auto">Here we have every thing that you want
                            <p>
                    </div>
                </div>
              -->

                <!--
                Search Bả
              <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
                  <form method="post">
                      <div class="row align-items-center">
                          <div class="col-lg-12 col-xl-4 no-sm-border border-right">
                              <input type="text" class="form-control" placeholder="What are you looking for?">
                          </div>
                          <div class="col-lg-12 col-xl-3 no-sm-border border-right">
                              <div class="wrap-icon">
                                  <span class="icon icon-room"></span>
                                  <input type="text" class="form-control" placeholder="Location">
                              </div>

                          </div>
                          <div class="col-lg-12 col-xl-3">
                              <div class="select-wrap">
                                  <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                  <select class="form-control" name="" id="">
                  <option value="">All Categories</option>
                  <option value="">Hotels</option>
                  <option value="">Restaurant</option>
                  <option value="">Eat &amp; Drink</option>
                  <option value="">Events</option>
                  <option value="">Fitness</option>
                  <option value="">Others</option>
                </select>
                              </div>
                          </div>
                          <div class="col-lg-12 col-xl-2 ml-auto text-right">
                              <input type="submit" class="btn text-white btn-primary" value="Search">
                          </div>

                      </div>
                  </form>
              </div>
              -->


            </div>
        </div>
    </div>
</div>




<div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div th:if="${info}"  th:text="${message}" class="alert alert-info"> </div>
                    <div th:if="${danger}" th:text="${message}" class="alert alert-danger"> </div>
                    <a class="btn_contain" href="/admin/add-entity/add-product">
                        <label>Add new Product</label>
                        <i class="fas fa-plus-circle add_btn"></i>
                    </a>

                    <div th:each="product: ${products}" class="d-block d-md-flex listing-horizontal">

                        <a th:href="@{/product/{id}(id=${product.getID()})}" class="img d-block" th:style="'background-image:url('+ ${product.getLinkIMG()} +');'"></a>

                        <div class="lh-content">
                            <a th:href="@{/admin/delete/product/{id}(id=${product.getID()})}"  class="bookmark"><span class="fas fa-trash-alt" style="font-size:large;"></span></a>
                            <a th:href="@{/admin/edit/product/{id}(id=${product.getID()})}"  class="bookmark bk_2"><span class="fas fa-edit" style="font-size:large;"></span></a>
                            <h3><a href="#" th:text="${product.getTenSanPham()}"></a></h3>
                            <p th:text="${product.getGia()}" class="price_display"></p>
                            <p>
                                <div th:text="${product.getMota()}">
                                    Bumba milk tea number one
                                </div>
                                <!--
                                    <span>(256 đã mua)</span>
                                 -->
                            </p>
                        </div>

                    </div>



                    <div class="col-12 mt-5 text-center">
                        <div class="custom-pagination">
                            <span>1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 ml-auto">

                    <div class="mb-5">
                        <h3 class="h5 text-black mb-3"> Search </h3>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="text" placeholder="Nhập để tìm kiếm" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="select-wrap">
                                    <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                    <select class="form-control" name="" id="">
                                        <option value="">Trà sữa</option>
                                        <option value="">Trà trái cây</option>
                                        <option value="">Sữa tươi</option>
                                        <option value="">Sữa chua</option>
                                        <option value="">Topping</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!--
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">Popular Categories</h2>
                    <p class="color-black-opacity-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>

            <div class="row align-items-stretch">
                <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="#" class="popular-category h-100">
                        <span class="icon mb-3"><span class="flaticon-hotel"></span></span>
                        <span class="caption mb-2 d-block">Hotels</span>
                        <span class="number">4,89</span>
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="#" class="popular-category h-100">
                        <span class="icon mb-3"><span class="flaticon-microphone"></span></span>
                        <span class="caption mb-2 d-block">Events</span>
                        <span class="number">482</span>
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="#" class="popular-category h-100">
                        <span class="icon mb-3"><span class="flaticon-flower"></span></span>
                        <span class="caption mb-2 d-block">Spa</span>
                        <span class="number">194</span>
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="#" class="popular-category h-100">
                        <span class="icon mb-3"><span class="flaticon-restaurant"></span></span>
                        <span class="caption mb-2 d-block">Stores</span>
                        <span class="number">1,472</span>
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="#" class="popular-category h-100">
                        <span class="icon mb-3"><span class="flaticon-cutlery"></span></span>
                        <span class="caption mb-2 d-block">Restaurants</span>
                        <span class="number">439</span>
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                    <a href="#" class="popular-category h-100">
                        <span class="icon mb-3"><span class="flaticon-bike"></span></span>
                        <span class="caption mb-2 d-block">Other</span>
                        <span class="number">692</span>
                    </a>
                </div>
            </div>


        </div>
    </div>


<div class="py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
                <h2 class="mb-3 mt-0 text-white">Đăng ký tài khoản để nhận thêm nhiều khuyến mãi hấp dẫn</h2>
                <p class="mb-0 text-white"></p>
            </div>
            <div class="col-lg-4">
                <p class="mb-0"><a href="/signup" class="btn btn-outline-white text-white btn-md px-5 font-weight-bold btn-md-block">Đăng ký</a></p>
            </div>
        </div>
    </div>
</div>
-->
<section class="site-footer">
    <div class="container">
        <div class="row mb-30">
            <div class="col-md-6">
                <div class="footer-card footer-card-l">
                    <div class="footer-logo">
                        <img src="https://trasuabumba.com/public/images/logo-footer.png" class="img-responsive" alt="Logo footer">
                    </div>
                    <div class="site-card mb-30">
                        <p>Với châm ngôn tuyệt đối không sử dụng nguyên liệu không rõ nguồn gốc, xuất xứ, trà sữa Bumba tự hào mang lại cho khách hàng những sản phẩm, chất lượng tốt nhất</p>
                    </div>
                    <div class="footer-social">
                        <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>

                </div>
            </div><!-- /.col 3-->
            <div class="col-md-6 col-sm-6 ">
                <div class="site-card footer-card footer-card-r">
                    <h3>Liên hệ</h3>
                    <p class="fw-600">Công ty CP-TM-DV Chào Ngày Mới</p>
                    <p>Tầng 3 - Tòa nhà Green Bee - 684/28A Trần Hưng Đạo, Phường 2, Quận 5, TP. Hồ Chí Minh</p>

                    <p>Email: bumba.om@trasuabumba.com</p>
                    <p>Hotline: 0975 277 017</p>
                </div>
            </div><!-- /.col-3-->

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="site-card footer-card text-center">
                    <p>Copyright © 2020 Bumba.
                </div>
            </div>
        </div>
    </div>
</section>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/rangeslider.min.js"></script>

    <script src="js/main.js"></script>
    <script>
        let x = document.querySelectorAll(".price_display");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                      .toLocaleString('en');
            x[i].innerHTML = num;
            x[i].classList.add("currSign");
        }
    </script>
</body>

</html>